<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>AD_UNIT_ID_FOR_BANNER_TEST</key>
	<string>ca-app-pub-3940256099942544/2934735716</string>
	<key>AD_UNIT_ID_FOR_INTERSTITIAL_TEST</key>
	<string>ca-app-pub-3940256099942544/4411468910</string>
	<key>CLIENT_ID</key>
	<string>877546788595-mt02e5ik2brt035ioal18g12f1nhhqml.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.877546788595-mt02e5ik2brt035ioal18g12f1nhhqml</string>
	<key>API_KEY</key>
	<string>AIzaSyB-hh1WuRGnDHNbXoM-U5FzTFUxFTnzU84</string>
	<key>GCM_SENDER_ID</key>
	<string>877546788595</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example..EasyFitApp</string>
	<key>PROJECT_ID</key>
	<string>easyfit-6d4d9</string>
	<key>STORAGE_BUCKET</key>
	<string>easyfit-6d4d9.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<true></true>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<false></false>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:877546788595:ios:a282f37d6af1aec8</string>
	<key>DATABASE_URL</key>
	<string>https://easyfit-6d4d9.firebaseio.com</string>
</dict>
</plist>